<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--ItemMapper의 위치를 적어줌-->
<mapper namespace="shop.RecommendSystem.repository.mapper.ItemMapper">

    <resultMap id="Item" type="Item">
        <result column="IMG_FEATURE_VALUE" property="bitarray"/>
    </resultMap>

    <!--아이템 객체의 속성 값들을 넣어줌-->
    <insert id="save" parameterType="Item">
        <selectKey keyProperty="itemId" resultType="long" order="BEFORE">
            SELECT shop_board_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO shop_board (item_id, item_title, item_content, item_price, updated_at)
        VALUES (#{itemId},#{itemTitle}, #{itemContent}, #{itemPrice}, sysdate)
    </insert>


    <insert id="insertImageInfo" parameterType="shop.RecommendSystem.dto.ImageInfo">
        INSERT INTO image_info (image_uuid, image_original_name, image_url, image_hash_code, item_id)
        VALUES (#{imageUuid}, #{imageOriginalName}, #{imageUrl}, #{imageHashCode}, #{itemId})
    </insert>


    <insert id="insertBulkImageInfo">
        INSERT ALL
        <foreach collection="list" item="image">
            INTO image_info
            (image_uuid, image_original_name, image_url, image_hash_code, item_id)
            VALUES
            (#{image.imageUuid}, #{image.imageOriginalName}, #{image.imageUrl}, #{image.imageHashCode}, #{image.itemId})
        </foreach>
        SELECT 1 FROM dual
    </insert>



    <!--글 상세 보기-->
    <select id="findById" parameterType="Long" resultMap="Item">

        SELECT
            s.item_id,
            s.item_title,
            s.item_content,
            s.created_at,
            s.item_price,
            s.category,
            i.image_url,
            i.img_feature_order as hashCode,
            i.img_feature_value as bitArray

        FROM shop_board s
        LEFT JOIN
            image_info i
        ON
            s.item_id = i.item_id
        WHERE s.item_id = #{id}
        -- and rownum &lt;= 1
        order by i.image_uuid
    </select>

    <select id="findByIdToPhash" parameterType="Long" resultType="Item">

        SELECT s.item_id,
               s.item_title,
               s.item_content,
               s.created_at,
               s.item_price,
               i.image_url,
               i.image_hash_code as hashCode
        FROM shop_board s
                 LEFT JOIN
             image_info i
             ON
                 s.item_id = i.item_id
        WHERE s.item_id = #{id}
    </select>
    <!--글 목록 및 글 관리-->
    <select id="findAll" resultType="Item" parameterType="Map">

        SELECT * FROM (
        SELECT T.*, ROWNUM AS rn FROM (
        SELECT item_id,
        item_title,
        CREATED_AT
        FROM shop_board
        ORDER BY item_id desc
        ) T WHERE ROWNUM &lt;= (#{offset}+1) * #{size}
        ) WHERE rn &gt; #{offset}  * #{size}

    </select>

    <select id="findThumbnailAll" resultType="Item" parameterType="Map">
        SELECT * FROM (
          SELECT T.*, ROWNUM AS rn FROM (
            SELECT s.item_id,
               s.item_title,
               s.item_price,
               i.image_url
                FROM shop_board s
                    INNER JOIN (
                    SELECT item_id, image_url
                    FROM (
                    SELECT item_id,
                    image_url,
                    ROW_NUMBER() OVER (PARTITION BY item_id ORDER BY image_uuid asc) rn
                    FROM image_info
                    WHERE image_url IS NOT NULL
                    )
                    WHERE rn = 1
                    ) i ON s.item_id = i.item_id
                WHERE 1=1
                <if test="category != null and category != 'all'">
                    AND s.CATEGORY = #{category}
                </if>
                ORDER BY s.item_id DESC
            ) T WHERE ROWNUM &lt;= (#{offset}+1) * #{size}
      ) WHERE rn &gt; #{offset} * #{size}
    </select>

    <select id="countItems" resultType="long" parameterType="Map">
        SELECT
            COUNT(1)
        FROM shop_board
        WHERE 1=1
        <if test="category != null and category != 'all'">
            AND CATEGORY = #{category}
        </if>
    </select>

    <delete id="delete" parameterType="Long">
        DELETE
            s, i
            FROM shop_board s
            LEFT JOIN image_info i
                ON s.item_id = i.item_id
            WHERE s.item_id =#{id}
    </delete>

    <insert id="bulkInsert">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO shop_board
            (item_id, item_title, item_content, item_price, updated_at, category)
            VALUES
            (#{item.itemId}, #{item.itemTitle}, #{item.itemContent}, #{item.itemPrice}, SYSDATE, #{item.category})
        </foreach>
        SELECT 1 FROM dual
    </insert>


    <select id="getShopBoardSeq" resultType="Long">
        SELECT shop_board_seq.NEXTVAL FROM dual
    </select>

    <select id="getImageInfoSeq" resultType="Long">
        SELECT IMAGE_INFO_SEQ.NEXTVAL FROM dual
    </select>

    <!-- Feature 스테이징 테이블 생성 -->
    <update id="createFeatureStaging">
        CREATE TABLE image_feature_staging (
                                               image_uuid  VARCHAR2(500),
            img_feature_value    BLOB,
            img_feature_order    VARCHAR2(1000)
        )
    </update>

    <!-- 스테이징 테이블에 bulk insert -->
    <insert id="insertFeatureStaging">
        INSERT ALL
        <foreach collection="list" item="img">
            INTO image_feature_staging
            (image_uuid, img_feature_value, img_feature_order)
            VALUES
            (#{img.imageUuid}, #{img.imgFeatureValue}, #{img.imgFeatureOrder})
        </foreach>
        SELECT 1 FROM dual
    </insert>

    <!-- 스테이징 → image_info MERGE -->
    <update id="mergeFeatureFromStaging">
        MERGE INTO image_info t
        USING image_feature_staging s
        ON (t.image_uuid = s.image_uuid)
        WHEN MATCHED THEN UPDATE SET
            t.img_feature_value = s.img_feature_value,
            t.img_feature_order = s.img_feature_order,
            t.updated_at = CURRENT_TIMESTAMP
    </update>

    <!-- 스테이징 테이블 삭제 -->
    <update id="dropFeatureStaging">
        DROP TABLE image_feature_staging
    </update>

</mapper>