<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--ItemMapper의 위치를 적어줌-->
<mapper namespace="shop.RecommendSystem.repository.mapper.ReplyMapper">

    <!--글 상세 보기-->
    <select id="selectReplyList" resultType="Reply" parameterType="Long" >
        SELECT *
        FROM reply_board where post_id = #{postId}
    </select>

    <insert id="saveReply" parameterType="Reply">
        <selectKey keyProperty="replyId" resultType="long" order="BEFORE">
            SELECT image_color_tag_seq.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO reply_board (reply_id, post_id, reply_writer, reply_password, reply_content)
        VALUES (#{replyId},#{postId}, #{replyWriter}, #{replyPassword}, #{replyContent})
    </insert>

</mapper>