<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--ItemMapper의 위치를 적어줌-->
<mapper namespace="shop.RecommendSystem.repository.mapper.SearchMapper">

    <!--글 상세 보기-->
    <select id="findSearchLSHTarget" resultType="ImageInfo">
        SELECT image_uuid,
               image_hash_code
        FROM image_info
    </select>

    <select id="findReduceTarget" resultType="PreFilterDto">
        SELECT image_uuid,
               img_feature_order as featureOrder
        FROM image_info
    </select>

    <select id="findReduceTarget" resultType="PreFilterDto">
        SELECT image_uuid,
               img_feature_order as featureOrder
        FROM image_info
    </select>

    <select id="findPreFilterTarget" parameterType="list" resultType="PreFilterDto">
        SELECT
        image_uuid, img_feature_value
        FROM
        image_info
        WHERE
        image_uuid IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- SELECT 쿼리 -->
    <select id="findItemCandidates" parameterType="list" resultType="SearchResult">
        SELECT
        s.item_id, s.item_title, s.item_price, i.image_url, i.image_uuid
        FROM
        shop_board AS s
        LEFT JOIN
        image_info AS i
        ON
        s.item_image_link = i.image_uuid
        WHERE
        i.image_uuid IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updatePHash" parameterType="Map">

        UPDATE image_info
        set img_feature_value = #{hash}
        where image_original_name = #{uuid}

    </update>

    <select id="findSearchUpdateTarget" resultType="ImageInfo">
        SELECT image_uuid,
               image_original_name,
               image_url,
               img_feature_value as image_hash_code
        FROM image_info
    </select>


</mapper>