<!DOCTYPE html>
<html lang="ko">

<nav class="shop-navbar" th:fragment="bodyHeader">
  <div class="container">

    <!-- Brand (왼쪽) -->
    <a class="navbar-brand" href="/shop/main">So:0 Shop</a>

    <!-- 데스크탑 Nav Links (중앙~왼쪽) -->
    <ul class="navbar-nav me-auto mb-0 ms-lg-4 d-none d-lg-flex flex-row gap-1">
      <li class="nav-item">
        <a class="nav-link" href="/shop/main">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/jimins5042/RecommendSystem" target="_blank">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search/findImg">Image Search</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="shopDropdownDesktop"
           href="#"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">Shop</a>
        <ul class="dropdown-menu" aria-labelledby="shopDropdownDesktop">
          <li><a class="dropdown-item" href="#">All Products</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Popular Items</a></li>
          <li><a class="dropdown-item" href="#">New Arrivals</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/itemList">
          <i class="fa fa-cog me-1"></i>관리자
        </a>
      </li>
    </ul>

    <!-- 햄버거 버튼 (오른쪽, 항상 표시) -->
    <button class="navbar-sidebar-toggle ms-auto"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarNav"
            aria-controls="sidebarNav"
            aria-label="메뉴 열기">
      <i class="fa fa-bars"></i>
    </button>

  </div>
</nav>

<!-- ===== 오른쪽 슬라이드 사이드바 (Offcanvas) ===== -->
<div class="offcanvas offcanvas-end shop-sidebar"
     tabindex="-1"
     id="sidebarNav"
     aria-labelledby="sidebarNavLabel">

  <!-- 사이드바 헤더 -->
  <div class="offcanvas-header">
    <span class="shop-sidebar__brand" id="sidebarNavLabel">So:0 Shop</span>
    <button type="button"
            class="shop-sidebar__close"
            data-bs-dismiss="offcanvas"
            aria-label="닫기">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <!-- 사이드바 메뉴 -->
  <div class="offcanvas-body">
    <ul class="shop-sidebar__menu">
      <li>
        <a href="/shop/main">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/search/findImg">
          <i class="fa fa-search"></i>
          <span>Image Search</span>
        </a>
      </li>
      <li class="shop-sidebar__divider"></li>
      <li class="shop-sidebar__section-title">Shop</li>
      <li>
        <a href="#">
          <i class="fa fa-th-large"></i>
          <span>All Products</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-fire"></i>
          <span>Popular Items</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-star"></i>
          <span>New Arrivals</span>
        </a>
      </li>
      <li class="shop-sidebar__divider"></li>
      <li>
        <a href="https://github.com/jimins5042/RecommendSystem" target="_blank">
          <i class="fab fa-github"></i>
          <span>About / GitHub</span>
        </a>
      </li>
      <li>
        <a href="/shop/itemList">
          <i class="fa fa-cog"></i>
          <span>관리자 페이지</span>
        </a>
      </li>
    </ul>
  </div>

</div>