<div th:fragment="searchBar">

    <div th:insert="~{fragments/searchTestTab :: searchTestTab}"></div>
    <div class="search-area">
        <div class="container">
            <form class="search-form">

                <!-- 텍스트 검색 입력 -->
                <input id="searchInput" type="text" name="query" placeholder="검색어 또는 이미지로 검색하세요">

                <button type="button" data-bs-toggle="modal" data-bs-target="#imgSearchModal" class="btn-img-search"
                        id="fileSelectButton1" title="이미지로 검색">
                    <i class="fa fa-image"></i>
                    <div class="img-search-tooltip">
                        <strong>이미지로 검색하기</strong><br>
                        이미지 검색으로 원했던 상품을 더 나은 가격으로 만나보세요.
                    </div>
                </button>

                <!-- 검색 버튼 -->
                <button class="btn-search" title="검색">
                    <i class="fa fa-search"></i>
                </button>

            </form>
        </div>
    </div>

<script>


</script>

</div>